useDynLib('rBARTmediation', .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
export(BART)
export(rBART)
export(rBARTmediation)
export(mc.cores.openmp)
export(rtnorm, draw_lambda_i, rtgamma)
export(bartModelMatrix)
importFrom(nnet, class.ind)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(stats, ar, sd, var, vcov, cor, 
           rnorm, dnorm, pnorm, qnorm, runif, rbinom, dbinom, qchisq, plogis, qlogis, 
           lm, predict, quantile, residuals, coef, na.exclude)
importFrom(tools, psnice)
importFrom(nlme, lme, VarCorr)
importFrom(caret, findLinearCombos)
S3method(predict, BART)
S3method(predict, rBART)
S3method(predict, rBARTmediation)