useDynLib('rBARTmediation', .registration=TRUE)
##exportPattern("^[[:alpha:]]+")
export(rBARTmediation)
export(rBART)
export(mc.cores.openmp)
export(rtnorm, draw_lambda_i, rtgamma)
export(bartModelMatrix)
importFrom(nnet, class.ind)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(stats, ar, sd, var, vcov, cor, dbinom, rbinom, dnorm, rnorm, lm, predict, pnorm, qnorm, qchisq, plogis, qlogis, quantile, residuals, runif, coef)
importFrom(tools, psnice)
importFrom(lme4, lmer)
S3method(predict, rBART)
S3method(predict, rBARTmediation)